.card {
    padding: 1rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    background-color: #fcf7f7e0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: auto;
}